# Everything here won't interfere with qcom-post-boot

on late-fs
    # boot time fs tune
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/scheduler cfq
    write /sys/block/sda/queue/iosched/slice_idle 0
    write /sys/block/sda/queue/read_ahead_kb 2048
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/dm-0/queue/read_ahead_kb 2048
    write /sys/block/dm-1/queue/read_ahead_kb 2048

on property:sys.boot_completed=1

   # Disable slice_idle
   write /sys/block/mmcblk0/queue/iosched/slice_idle 0
   write /sys/block/mmcblk1/queue/iosched/slice_idle 0
   write /sys/block/dm-0/queue/iosched/slice_idle 0
   write /sys/block/dm-1/queue/iosched/slice_idle 0
   write /sys/block/mmcblk0/queue/iosched/slice_idle 0

   # I/O
   write /sys/block/mmcblk0/queue/read_ahead_kb 128
   write /sys/block/mmcblk0/queue/nr_requests 128
   write /sys/block/dm-0/queue/read_ahead_kb 128
   write /sys/block/dm-1/queue/read_ahead_kb 128
   write /sys/block/mmcblk0/queue/iostats 1


   # Set thermal restrictions
   write /sys/kernel/msm_thermal/enabled 0
   write /sys/kernel/msm_thermal/zone0 "1958400 36 35"
   write /sys/kernel/msm_thermal/zone1 "1804800 37 36"
   write /sys/kernel/msm_thermal/zone2 "1689600 38 37"
   write /sys/kernel/msm_thermal/zone3 "1401600 39 38"
   write /sys/kernel/msm_thermal/zone4 "1036800 40 39"
   write /sys/kernel/msm_thermal/zone5 "1036800 41 40"
   write /sys/kernel/msm_thermal/zone6 "1036800 42 41"
   write /sys/kernel/msm_thermal/zone7 "652800 45 42"
   write /sys/module/msm_thermal/core_control/enabled 1
   write /sys/kernel/msm_thermal/sampling_ms 1000
   write /sys/kernel/msm_thermal/enabled 1



# CPUQuiet
   chmod 0644 /sys/devices/system/cpu/cpuquiet/nr_min_cpus
   write /sys/devices/system/cpu/cpuquiet/nr_min_cpus 2
   chmod 0664 /sys/devices/system/cpu/cpuquiet/nr_min_cpus

# Must be executed after qcom-post-boot
on property:init.svc.qcom-post-boot=stopped

   # Set max freq following default profile
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2208000
   write /sys/block/mmcblk0/queue/scheduler cfq
   write /sys/block/mmcblk0/queue/read_ahead_kb 128
   write /sys/module/lowmemorykiller/parameters/minfree "18432,23040,27648,32256,36864,46080"


